<div class="hud">
    <img src="./static/assets/char/hud.webp" class="hud"></img>
    <img src="./static/assets/char/{{char}}_portrait.webp" class="portrait"></img>
    <img src="./static/assets/char/{{char}}_name.png" class="name"></img>
</div>
<div class="char">
    <img src="./static/assets/char/{{char}}_sprite.webp" class="char"></img>
</div>